form-name {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}

body {
    background-color: rgb(211, 235, 234,);
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: Verdana, Geneva, sans-serif;
}



.container {
    position: absolute;
    background-color:#f5f5ff;
    width: 1000px;
    display: flex;
    border-radius: 30px;
    justify-content: center;
    padding: 20px;
    margin: 8% auto 0;
    height: 650px;

}
.form-a{
    margin: 5px;
    padding: 10px;
}    
.col-md-6{
    float: left;
    width: 50%;
}
img{
    height: 500px;
    max-width: 100%;
    padding: 30px
    border-radius: 5%;}
    
.needs-validation{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
    padding-bottom: 50px;
}
.heading{
    color: cornflowerblue;
    margin-top: 26px;
}

.btn {
    /* border-radius: ; */
    margin-bottom: 40px;
    margin-left: 40px;
    background-color: rgb(115, 180, 241);
    height: auto;
    border-radius: 5px;
    box-shadow: 3px 3px 5px gray;
    width: 80px;
}
#region {
    width: 30px;
}
